@charset "utf-8";

main .img-swiper .img-container {
  overflow: hidden;
  position: relative;
}

main .img-swiper .img-container .swiper-wrapper {
  display: flex;
  justify-content: center;
  width: 700%;
  padding-top: 40px;
}

main .img-swiper .img-container .swiper-wrapper li {
  flex: 0 0 auto; /* 슬라이드들이 줄어들지 않도록 설정 */
  width: 80vw; /* 각 슬라이드의 너비 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
}

main .img-swiper .img-container .swiper-wrapper li img {
  width: 80%;
  height: 80%;
}

main .img-swiper .img-container .swiper-paggination {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  z-index: 9;
}

/* ***** PC ver. ***** */
@media screen and (min-width: 769px) {
  main .img-swiper .img-container .swiper-wrapper {
    padding-top: 100px;
  }
  
  main .img-swiper .img-container .swiper-wrapper li img {
    width: 43%;
    height: 43%;
  }
}